body{
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
}


.second_div{
    background: #2b5876;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
height: 662px;
}

.buyline{
    font-size: 36px;
    margin-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
    line-height: 60px;
    color: #0f0c29;
    text-align: center;
}

.p-text{
    font-size: 18px;
    margin-top: 10%;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.smx{
    font-weight: bold;
}

.twitter{
    margin-top: 4%;
    text-align: center !important;
    text-decoration:underline;

}

.aunt{
    text-align: center;
    color: #0f0c29 !important;
    margin-top: 4%;
    font-size: 20px;
}
.aunt a{
    color: #0f0c29 !important;
}

.form-inline{
    
    margin-top: 4%;
    margin-left: 15%;
    margin-right: auto;
}

.lol ,.btn{
   margin-left: 5px; 
}

img{
    margin-left: 15%;
    margin-top: 10%;
}

.j-text{
    font-size: 20px;
    text-align: center;
    margin-top: 3%;
    color: #fff;
}

.qwerty{
   margin-left: 24%;
   margin-top: 3%;
   width: 50%;
}

.signup{
    margin-top: 2%;
}

.modal-dialog{
    height: 400px !important;
}